<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改用户</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <script src="__STATIC__/bootstrap/js/jquery.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button class="btn btn-success">修改用户</button>
                <a href="/users" class="btn btn-danger">查看用户表</a>
            </div>
            <div class="panel-body">
                <form action="/users/{$data.UNO}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="_method" value="PUT">
                        <label for="">用户类型</label>
                        <input placeholder="请输入用户类型" type="text" name="UYPE"
                          class="form-control" value="{$data.UYPE}" id="">
                    </div>

                    <div>
                        <label for="form-group">用户名</label>
                        <input placeholder="请输入用户名" type="text" name="UNAME"
                        class="form-control" value="{$data.UNAME}" id="">
                    </div>

                    <div>
                        <label for="form-group">用户密码</label>
                        <input placeholder="请输入用户密码" type="password" name="UPASSWORD"
                        class="form-control" value="{$data.UPASSWORD}" id="">
                    </div>

                    <br /><br />

                    <div class="form-group">
                        <input type="submit" value="提交" class="btn btn-success">
                        <input type="reset" value="重置" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>