<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>音乐数据库</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <script src="__STATIC__/bootstrap/js/jquery.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" style="width: 100%" data-toggle="modal"data-target="#exampleModalLong">
            曲风录入次数最多的歌曲TOP3
        </button>
      
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Independent Music</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <th>曲风类型</th>
                                <th>录入次数</th>
            
                                {volist name="data_bang" id="value_song"}
                                <tr class="data">
                                    <td>{$value_song.STYLETYPE}</td>
                                    <td>{$value_song.COUNT}</td>
                                </tr>
                                {/volist}
                            </table>
                        </div>

                </div>
            </div>
            </div>
        </div>
        

        <div class="panel panel-primary">
            <div class="panel-heading">
                <label>歌曲数据表</label>
            </div>

            <nav class=" form-inline navbar navbar-light bg-light">
                <form class="form-inline navbar-brand" name="myform" enctype="multipart/form-data" method="POST" action="/index/search_song">
                    <select class="form-control custom-select my-1 mr-sm-2" name="myselectone" id="myselectone">
                        <option selected disabled>分类筛选</option>
                        <option value="SNAME" selected = "selected">歌曲名</option>
                        <option value="SRELEASE">发行时间</option>
                        <option value="SRECORD">录入时间</option>
                        <option value="SLYRICS">作词</option>
                        <option value="SCOMPOSITION">作曲</option>
                        <option value="SINGER">歌手</option>
                        <option value="SLENGTH">时长</option>
                        <option value="STYLENO">曲风编号</option>
                    </select>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keywordsone" id="keywordsone" required="required" >

                    <span>&nbsp;&nbsp;</span>
                    <select class="form-control custom-select custom-select my-1 mr-sm-2" style="background-color:rgb(255,245,225)" name="complex" id="complex">
                        <option selected disabled>复合</option>
                        <option value="and" selected = "selected">并且</option>
                        <option value="or">或者</option>
                    </select>
                    <span>&nbsp;&nbsp;</span>

                    <select class="form-control custom-select my-1 mr-sm-2" name="myselecttwo" id="myselecttwo">
                        <option selected disabled>分类筛选</option>
                        <option value="SNAME" selected = "selected">歌曲名</option>
                        <option value="SRELEASE">发行时间</option>
                        <option value="SRECORD">录入时间</option>
                        <option value="SLYRICS">作词</option>
                        <option value="SCOMPOSITION">作曲</option>
                        <option value="SINGER">歌手</option>
                        <option value="SLENGTH">时长</option>
                        <option value="STYLENO">曲风编号</option>
                    </select>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keywordstwo" id="keywordstwo" required="required" >

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit">Search</button>
                </form>
            </nav>

            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <th>歌曲编号</th>
                    <th>歌曲名</th>
                    <th>发行时间</th>
                    <th>录入时间</th>
                    <th>作词</th>
                    <th>作曲</th>
                    <th>歌手</th>
                    <th>时长</th>
                    <th>曲风编号</th>

	                {volist name="data_song" id="value_song"}
	                <tr class="data">
	                    <td>{$value_song.SNO}</td>
	                    <td>{$value_song.SNAME}</td>
	                    <td>{$value_song.SRELEASE}</td>
	                    <td>{$value_song.SRECORD}</td>
	                    <td>{$value_song.SLYRICS}</td>
	                    <td>{$value_song.SCOMPOSITION}</td>
	                    <td>{$value_song.SINGER}</td>
	                    <td>{$value_song.SLENGTH}</td>
	                    <td>{$value_song.STYLENO}</td>
	                </tr>
	                {/volist}
                </table>
                
                <br />

                {$data_song->render()}

                <!-- <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav> -->
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label>曲风数据表</label>
            </div>

            <nav class="form-inline navbar navbar-light bg-light">
                <form class="form-inline navbar-brand"  enctype="multipart/form-data" method="POST" action="/index/search_style">
                    <select class="form-control custom-select my-1 mr-sm-2"  name="myselectstyle" id="myselectstyle">
                        <option selected disabled>分类筛选</option>
                        <option value="STYLENO" selected = "selected">曲风编号</option>
                        <option value="STYLETYPE">曲风类型</option>
                        <option value="STYLECOUNTRY">诞生国度</option>
                        <option value="STYLEBORN">诞生时期</option>
                    </select>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="keywordsstyle" id="keywordsstyle" required="required" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>

            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <th>曲风编号</th>
                    <th>曲风类型</th>
                    <th>诞生国度</th>
                    <th>诞生时期</th>

                    {volist name="data_style" id="value_style"}
                    <tr>
                        <td>{$value_style.STYLENO}</td>
                        <td>{$value_style.STYLETYPE}</td>
                        <td>{$value_style.STYLECOUNTRY}</td>
                        <td>{$value_style.STYLEBORN}</td>
                    </tr>
                    {/volist}
                </table>

                {$data_style->render()}
            </div>
        </div>
    </div>
</body>
</html>